<ion-header>
    <ion-navbar>
        <ion-title>Compara Cars</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="img/logo.png" alt="">
    <h3>Selecione na lista:</h3>
    <ion-card>
    <ion-card-title>
     <h3 text-center>Aqui o carro 1</h3>
     <hr>
      </ion-card-title>    
      <ion-item>
        <ion-label>Marca</ion-label>
        <ion-select>
            <ion-option *ngFor="let obj of marca">
                {{obj.name}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Modelo - Ano</ion-label>
        <ion-select>
            <ion-option>
                Gurgel
            </ion-option>
            <ion-option>
                Pajero
            </ion-option>
            <ion-option>
                Clio
            </ion-option>
            <ion-option>
                Corsa
            </ion-option>
            <ion-option>
                Symbol
            </ion-option>
        </ion-select>
    </ion-item>
    </ion-card><ion-card>
    <ion-card-title>
     <h3 text-center>Aqui o carro 2</h3>
     <hr>
      </ion-card-title>    <ion-item>
        <ion-label>Marca</ion-label>
        <ion-select>
           <ion-option *ngFor="let obj of marca">
                {{obj.name}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Modelo - Ano</ion-label>
        <ion-select>
            <ion-option>
                Gurgel
            </ion-option>
            <ion-option>
                Pajero
            </ion-option>
            <ion-option>
                Clio
            </ion-option>
            <ion-option>
                Corsa
            </ion-option>
            <ion-option>
                Symbol
            </ion-option>
        </ion-select>
    </ion-item>
    </ion-card>
    <button ion-button full (click)="openComparativo()">Consultar</button>
</ion-content>