<ion-header>
<button ion-button out-line color="dark" clear navPop>
  <ion-icon name="md-arrow-back"></ion-icon>  
</button>
</ion-header>
<ion-content class="home" padding>
    <div class="logo" text-center>
      <img src="img/logo.png" alt="">
    </div>
    
    <h3 text-center class="white">Selecione na lista:</h3>
    <ion-card>
    <ion-card-title>
     <h3 text-center>Carro 2:</h3>
     <hr>
      </ion-card-title>    
      <ion-item>
        <ion-label>Selecione a marca</ion-label>
        <ion-select [(ngModel)]="selectedItem" (ngModelChange)="onChangeMarca($event.id)">
            <ion-option [value]="obj" *ngFor="let obj of marca">
                {{obj.name}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Selecione o modelo</ion-label>
        <ion-select *ngIf="selectedItem">
            <ion-option *ngFor="let obj of modelo">
              {{obj.name}}
            </ion-option>
        </ion-select>
    </ion-item>
    </ion-card>
    <button ion-button full (tap)="openComparativo()">Consultar</button>
</ion-content>